.container {
  padding: 50px;
  margin-top: 100px;
  font-size: 40px;
  font-weight: lighter;
  font-family: "Raavi";
  text-align: center;
}

.topic {
  border: solid 1px #222;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-bottom: 150px;
  background: #CCC;
}

#about {
  top: 25%;
  margin-left: 30%;
  float: left;
}

#pixelart {
  top: 25%;
  margin-left: 60%;
}

#illust {
  margin-left: 30%;
  float: left;
}

#program {
  margin-left: 60%;
}
