html, body, #layer1 {
  width: 100vw;
  height: 100vh;
}

#layer1 {
  transition: .7s;
}

#layer2 {
  /* background: rgba(241, 248, 255, 1); */
  background: radial-gradient(#F1F9FF, #DAE1F3);
  width: 100vw;
  height: 100vh;
}

.container {
  /* padding: 15%; */
  font-size: 250%;
  font-weight: lighter;
  font-family: "Georgia";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 80%;
  align-content: center;
}

.topic {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  border: solid 1px #A2A2E2;
  border-radius: 50%;
  margin: 5%;
  width: 45px;
  height: 45px;
  padding: 10px;
  background: #F1F9FF;
  color: #A2A2E2;
  transition: .4s;
  box-shadow: 0px 0px 0px 1px #F1F9FF;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.topic:hover {
  background: #A2A2E2;
  color: #F1F9FF;
  border: solid 1px #F1F9FF;
  box-shadow: 0px 0px 0px 1px #A2A2E2;
}

#about {
  top: 10%;
  left: 10%;
}
#pixelart {
  top: 10%;
  right: 10%;
}
#illust {
  bottom: 10%;
  left: 10%;
}
#program {
  bottom: 10%;
  right: 10%;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  width: 100vw;
  height: 100vh;
}

svg {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 50%;
  height: 50%;
  transition: .4s;
  background-color: rgba(0,20,30,0.5);
  border-radius: 3%;
}
