.container {
  padding: 50px;
  margin-top: 140px;
  font-size: 40px;
  font-weight: lighter;
  font-family: "Georgia";
  text-align: center;
}

.topic {
  border: solid 1px #888;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 10px;
  margin-bottom: 150px;
  background: #CCC;
  color: #323232;
}

#about {
  top: 25%;
  margin-left: 30%;
  float: left;
}

#pixelart {
  top: 25%;
  margin-left: 60%;
}

#illust {
  margin-left: 30%;
  float: left;
}

#program {
  margin-left: 60%;
}
